<app-default-layout></app-default-layout>

<div class="hero" id="teste">
    <section class="image-container">
        <img [src]="image_src" class="imageresult-apis" />
    </section>
    <section class="input-explanation-icons">
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="valueChanged($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="explanation-icons-container loading" *ngIf="isLoading; else iconsContent">
            <mat-spinner></mat-spinner>
        </div>

        <ng-template #iconsContent>
            <div class="explanation-icons-container icons-nowrap epic-icons">
                <div class="image-icon" *ngFor="let image_link of image_links;let i = index" #icon
                    [ngStyle]="{'background-image': 'url(' + image_link + ')'}" (click)="clickIcon(image_link,i)"
                    [attr.id]="'image-icon-' + i" [class.selected]="i === selectedIndex">



                </div>


            </div>

            <div class="details-image">
                <h6>Identifier : {{images_data.data[selectedIndex].identifier}}</h6>
                <h6>Caption :{{images_data.data[selectedIndex].caption}}</h6>
                <h6>Date : {{images_data.data[selectedIndex].date}}</h6>
            </div>



        </ng-template>



    </section>
</div>