<app-default-layout></app-default-layout>


<div id="hero">
    <section id="apis-box">

        <div class="api-card" id="apod-card">
            <span class="card-text">
                <h2>API: APOD</h2>
                <p>Imagem astronômica que muda diariamente</p>
            </span>
            <span class="card-background"></span>
        </div>

        <div class="api-card" id="epic-card">
            <span class="card-text">
                <h2>API: EPIC</h2>
                <p>Fotos policromáticas da Terra</p>
            </span>
            <span class="card-background"></span>
        </div>

        <div class="api-card" id="lib-card">
            <span class="card-text">
                <h2>API : NASA IMAGES LIBRARY</h2>
                <p>Biblioteca de Imagens e Vídeos buscáveis por tema</p>
            </span>
            <span class="card-background"></span>
        </div>

        <div class="api-card" id="mars-card">
            <span class="card-text">
                <h2>API: MARS ROVER PHOTOS</h2>
                <p>Banco de dados de fotografias tiradas por veículos motorizados em Marte</p>
            </span>
            <span class="card-background"></span>
        </div>



    </section>
    <section id="news-box">
        <app-spacenews-box id="carousel" [data]="carousel_data"></app-spacenews-box>

    </section>

    <section id="carl-sagan">
        <span class="sagan-background"></span>
        <p class="quote">"The cosmos is within us. We are made of star-stuff. We are a way for the universe to know
            itself."</p>
        <p class="author"><a href="https://simple.wikipedia.org/wiki/Carl_Sagan" target="_blank"
                rel="noopener noreferrer">- Carl Sagan</a></p>
    </section>


    <section>
        <footer>
            <p>
                <a href="https://github.com/TheSpaceDevs/spaceflightnewsapi" target="_blank"
                    rel="noopener noreferrer">SpaceNews API</a>
            </p>
            <p><a href="https://api.nasa.gov/" target="_blank" rel="noopener noreferrer">NASA Open APIs</a></p>
        </footer>
    </section>






</div>