<app-default-layout></app-default-layout>


<div id="hero">
    <section id="apis-box">

        <div class="api-card" id="apod-card">API: APOD
            <span></span>
        </div>
        <div class="api-card" id="epic-card">API : EPIC
            <span></span>
        </div>
        <div class="api-card" id="lib-card">API : NASA IMAGES AND VIDEOS LIBRARY
            <span></span>
        </div>
        <div class="api-card" id="mars-card">API: MARS ROVER PHOTOS
            <span></span>
        </div>

    </section>
    <section id="news-box">

        <app-spacenews-box id="carousel" [data]="carousel_data"></app-spacenews-box>

    </section>



</div>