#hero {
    display: flex;
    margin-top: 56px;
    padding-inline: 32px;

}

section {
    width: 50%;
    margin: 32px;
    margin-top: 0;

}

#apis-box {
    border: 2px solid black;
    height: 500px;
}

#news-box  {
    width: 60%;
    
}






