<ngb-carousel>
    @for (item of data; track data; ) {
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="item.image_url" class="carousel_image" style="width: 100% ; height: 90vh;" />
        </div>
        <div class="carousel-caption">
            <h3>{{ item.title }}</h3>
            <p>{{item.summary}}</p>
            <p>Source : {{item.news_site}}</p>
        </div>


    </ng-template>

    }

</ngb-carousel>


<!-- <h1>Artigos astronômicos recentes</h1>
<ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)">

    @for (item of data; track data; let i = $index) {
    <ng-template ngbSlide>

        <a href="" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
                <img [src]="item.image_url" alt="My image {{ i + 1 }} description" class="carousel_image"
                    style="width: 100%; height: 50vh" />
                <div class="carousel-caption">
                    <h3>{{ item.title }}</h3>
                </div>
            </div>
        </a>

        <p>Source : {{item.news_site}}</p>
        <p>{{item.summary}}</p>

    </ng-template>
    }
</ngb-carousel>

<hr /> -->