section {
    width: 50%;
    margin-top: 64px;
}

#news-home {
padding-inline: 128px;
}

#news-box {
    border: 2px solid black;
    margin: 0 auto;
}


#news-box {
    width: 100%;
    height: 400px;

    
}


