ngb-carousel {
    width: 100%;
}

ng-template p {
    position: absolute;
    bottom: 0;
}

.picsum-img-wrapper img {
    opacity: 0.3;

}

a h3,p {
    text-decoration: none;
    color: white;
}



h1 {
    text-align: center;
    font-size: x-large;
    color: white;
    margin-bottom: 16px
}

