<app-default-layout></app-default-layout>


<div class="hero">

    <section class="image-container">

        <mat-spinner *ngIf="isLoading; else imageContent"></mat-spinner>

        <ng-template #imageContent>

            <video *ngIf="media_type === 'video'; else image" class="imageresult-apis" width="320" height="240" controls
                autoplay>
                <source [src]="imgSrc" type="video/mp4">

            </video>

            <ng-template #image>
                <img [src]="imgSrc" class="imageresult-apis" />
            </ng-template>

        </ng-template>



    </section>

    <section class="input-explanation-icons">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Tags // Exemplos : Galaxy, Black hole, Saturn</mat-label>
                <input matInput placeholder="Type tags" [(ngModel)]="tags" name="tags" (change)="valuechange($event)">

            </mat-form-field>
            <button mat-button id="submit" type="submit">Submit</button>


        </form>

        <div class="explanation-icons-container loading" *ngIf="isLoading; else iconsContent">
            <mat-spinner></mat-spinner>
        </div>



        <ng-template #iconsContent>
            <div class="explanation-icons-container icons-nowrap">
                <div class="image-icon" *ngFor="let item of items;let i = index"
                    [ngStyle]="{'background-image': 'url(' + item.links[0].href + ')'}" (click)="clickIcon(item.href,i)"
                    [attr.id]="'image-icon-' + i" [class.selected]="i === selectedIndex">
                </div>
            </div>

            <div class="details-image">
                <div>
                    <h1>{{title}}
                    </h1>


                    <h6>Description : <span>{{description}}</span></h6>
                    <h6>Keywords : <span>{{keywords}}</span></h6>
                </div>
            </div>


        </ng-template>
    </section>
</div>