<app-default-layout></app-default-layout>


<div class="hero">
    <section class="image-container">
        <img [src]="imgSrc" class="imageresult-apis" />
    </section>
    <section class="input-explanation-icons">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Image search</mat-label>
                <input matInput placeholder="Type tags" [(ngModel)]="tags" name="tags" (change)="valuechange($event)">
            </mat-form-field>
        </form>


        <div class="explanation-icons-container icons-nowrap">
            <div class="image-icon" *ngFor="let item of items"
                [ngStyle]="{'background-image': 'url(' + item.links[0].href + ')'}" (click)="clickIcon(item.href)">
            </div>
        </div>
    </section>
</div>