<app-default-layout></app-default-layout>

<div class="hero">
    <section class="image-container">

        <mat-spinner *ngIf="isLoading; else imageContent"></mat-spinner>


        <ng-template #imageContent>


            <img [src]="image_src" class="imageresult-apis" />

        </ng-template>

    </section>
    <section class="input-explanation-icons">


        <mat-form-field>
            <mat-label>Select a rover</mat-label>
            <mat-select [(ngModel)]="selected_rover" (change)="valueChange($event)" name="rover">
                <mat-option value="curiosity">Curiosity</mat-option>
                <mat-option value="opportunity">Opportunity</mat-option>
                <mat-option value="spirit">Spirit</mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Select a solar day in Mars</mat-label>
            <input matInput placeholder="Integer Number" [(ngModel)]="selected_sol" name="sols"
                (change)="valueChange($event)">
        </mat-form-field>


        <div class="explanation-icons-container loading" *ngIf="isLoading; else iconsContent">
            <mat-spinner></mat-spinner>
        </div>

        <ng-template #iconsContent>
            <div class="explanation-icons-container icons-nowrap">
                <div class="image-icon" *ngFor="let response_photo of response_photos;let i = index"
                    [ngStyle]="{'background-image': 'url(' + response_photo.img_src + ')'}"
                    (click)="clickIcon(response_photo.img_src,i)" [class.selected]="i === selectedIndex">

                </div>
            </div>


            <div class="details-image">
                <div>
                    <h6>Identifier : <span>{{id}}</span>
                    </h6>
                    <h6>Camera Name : <span>{{camera_name}}</span></h6>
                    <h6>Earth Date : <span>{{earth_date}}</span></h6>
                </div>
            </div>
        </ng-template>





    </section>
</div>